.Info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
    padding-left: 100px;
    backdrop-filter: blur(6px);
}

h1 {
    font-size: 4em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 0;
}

p {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 26em;
}

a {
    text-decoration: none;
    color: #121314;
    position: relative;
}
